{% extends('base.html') %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="article">
            <div class="article-header">
                <h1>Post Title</h1>
                <hr />
                <span>Posted on January 1, 2017 at 12:00PM</span>
                <hr />
                <p>Do quis deserunt mollit dolore consequat minim sit proident. Laborum ipsum deserunt et exercitation ad quis ipsum. Eu dolore est minim adipisicing qui consectetur aliqua esse qui eu excepteur eiusmod veniam. Non amet qui dolor esse adipisicing et commodo ut velit. Est in deserunt dolore eu nulla pariatur qui laborum ad aute reprehenderit. Mollit dolor sit proident minim exercitation consectetur ipsum cillum labore ullamco ex aliquip. In ipsum ex eiusmod irure labore enim.</p>
            </div>
        </div>

        <div class="article">
            <div class="article-header">
                <h1>Post Title</h1>
                <hr />
                <span>Posted on January 1, 2017 at 12:00PM</span>
                <hr />
                <p>Do quis deserunt mollit dolore consequat minim sit proident. Laborum ipsum deserunt et exercitation ad quis ipsum. Eu dolore est minim adipisicing qui consectetur aliqua esse qui eu excepteur eiusmod veniam. Non amet qui dolor esse adipisicing et commodo ut velit. Est in deserunt dolore eu nulla pariatur qui laborum ad aute reprehenderit. Mollit dolor sit proident minim exercitation consectetur ipsum cillum labore ullamco ex aliquip. In ipsum ex eiusmod irure labore enim.</p>
            </div>
        </div>

        <div class="article">
            <div class="article-header">
                <h1>Post Title</h1>
                <hr />
                <span>Posted on January 1, 2017 at 12:00PM</span>
                <hr />
                <p>Do quis deserunt mollit dolore consequat minim sit proident. Laborum ipsum deserunt et exercitation ad quis ipsum. Eu dolore est minim adipisicing qui consectetur aliqua esse qui eu excepteur eiusmod veniam. Non amet qui dolor esse adipisicing et commodo ut velit. Est in deserunt dolore eu nulla pariatur qui laborum ad aute reprehenderit. Mollit dolor sit proident minim exercitation consectetur ipsum cillum labore ullamco ex aliquip. In ipsum ex eiusmod irure labore enim.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h1>World</h1>
    </div>
</div>
{% endblock %}