{% extends('base.html') %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for article in articles %}
            <div class="article">
                <div class="article-header">
                    <h1>{{ article.title }}</h1>
                </div>
                <hr />
                <span>Posted on {{ article.date_created | format_date }}</span>
                <hr />
                <p>{{ article.body }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h1>World</h1>
    </div>
</div>
{% endblock %}